$primaryColor: #FF0000;
$transitionTime: 1s;
$rotateFactor: -5deg;
$scaleFactor: 1.05;
$blurFactor: 5px;


@mixin transitions {
-webkit-transition: all $transitionTime ease;
   -moz-transition: all $transitionTime ease;
     -o-transition: all $transitionTime ease;
    -ms-transition: all $transitionTime ease;
        transition: all $transitionTime ease;
}

body {
  font-family: Verdana;
  font-size: 1.5em;

  h1 {
    color: $primaryColor;
  }
}

#team-members {
  clear: both;

  .member {
  float: left;
  border-radius: 40px;
  margin: 10px;
  padding: 6px;

    &:nth-of-type(odd) {

      img {

        @include transitions;

        &:hover {
        -webkit-transform: rotate($rotateFactor) scale($scaleFactor);
           -moz-transform: rotate($rotateFactor) scale($scaleFactor);
             -o-transform: rotate($rotateFactor) scale($scaleFactor);
            -ms-transform: rotate($rotateFactor) scale($scaleFactor);
                transform: rotate($rotateFactor) scale($scaleFactor);
        }
      }
    }

    &:nth-of-type(even) {

      img {

      @include transitions;

        &:hover {
        -webkit-filter: blur($blurFactor);
        }
      }
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      border: 2px solid black;
      -webkit-box-shadow: 10px 10px 34px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 34px -10px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 34px -10px rgba(0,0,0,0.75);
    }

    div.name {
    text-align: center;
    }
  }
}